<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>秒杀排队中</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
秒杀排队中.........
<p id = "productId" th:text="${productId}"></p>
</body>
<script>

    $(function(){
        var productId = $("#productId").text();
        getMiaoshaResult(productId);
    });

    function getMiaoshaResult(productId){
        g_showLoading();
        $.ajax({
            url:"/miaosha/result",
            type:"GET",
            data:{
                productId: productId
            },
            success:function(data){
                if(data.code == 0){
                    var result = data.data;
                    if(result < 0){
                        layer.msg("对不起，秒杀失败");
                    }else if(result == 0){//继续轮询
                        setTimeout(function(){
                            getMiaoshaResult(productId);
                        }, 50);
                    }else{
                        layer.confirm("恭喜你，秒杀成功！查看订单？", {btn:["确定","取消"]},
                            function(){
                                window.location.href="/order/detail?orderId="+result;
                            },

                            function(){
                                layer.closeAll();
                            });
                    }
                }else{
                    layer.msg(data.msg);
                }
            },
            error:function(){
                layer.msg("客户端请求有误");
            }
        });
    }
</script>
</html>
